<div class="container-fluid center">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
    <div class="row">
      <div class="col-10">
        <img src="../assets/img/TuSegundazo.com.png" alt="logo" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="img img-fluid w-100">
        <img src="../assets/img/image 1 1.png" alt="TuSegundazo" class="img-fluid">
      </div>
    </div>
    <app-vehiculo></app-vehiculo>
  </div>
    <div class="col-1"></div>
  </div>
</div>
<footer>
  <a>Contact us: +57 3102105253 - info@tusegundazo.com - @tusegunazo</a>
</footer>